.colorOver {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    background-image: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0) 50%);
    position: fixed;
}

section {
    width: 100%;
    height: calc(100% - 90px);
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-container .swiper-wrapper {
    margin-top: -68px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide p {
    text-align: left;
}

.swiper-slide p:first-child {
    font-size: 40px;
    font-family: 'BMYEONSUNG', 'Nanum Myeongjo', serif;
}

.swiper-slide p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 10px;
}

.swiper-slide p a {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
}

.video-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
}

.video-container iframe {
    z-index: -999;
}

.video-container iframe,
.video-container object,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%);
}
